html{
	font-family: sans-serif;
}
body{
	text-align:center; 
}
.header{
	width: 100%;
	background: red;
	display: inline-block;
}
.header-logo{
	float: left;
	padding: 10px 50px 10px 30px;
	color: white;
}
.header-list{
	float: left;
}
.header-list li{
	width: 200px;
	height: 20px;
	float: left;
	padding: 20px 15px 20px 15px;
}
a{
	text-decoration: none;
	font-weight: bolder;
	color: white;
}

a:hover{
	color: pink;
	font-weight: bolder;
}
h1{
	font-size: 40px;
}
p{
	font-size: 15px;
}
.money{
	background-color: yellow
}
li{
	list-style: none;
}
img{
	height: 450px;
	width: 600px;
}
table{
	margin-left: auto; margin-right: auto;
	height: 260px;
	width: 500px
}
.footer{
	width: 100%;
	display: inline-block;
	background: #ccc;
	color: white;
	font-weight: bolder;
}
.footer-logo{
	float: left;
}
.footer-list{
	float: right;
}
